.wrapper{
    margin-top:var(--m-1);
    border-radius: 5px;
    font-family:var(--bebas);
    font-size:var(--f-1);
    padding:var(--p-1);
}

.title{
    color:var(--red);
}

.body{
    color:white;
    font-family: var(--teko);
    font-size:var(--f-2);
}