@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300&display=swap');

html, body{
  background-color: var(--black);
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  padding:0;
  margin:0;
}

:root{
  --black:#242424;
  --red:#a82622;
  --yellow:#fcba03;
  /*FONTS*/
  --bebas:'Bebas Neue', cursive;
  --teko:'Teko', sans-serif;
  /*FONT SIZES*/
  --f-0:0.75rem;
  --f-1:1rem;
  --f-2:1.25rem;
  --f-3:1.5rem;
  --f-4:1.75rem;
  --f-5:2rem;
  --f-6:2.25rem;
  --f-7:2.5rem;
  --f-8:2.75rem;
  /*MARGIN*/
  --m-0:5px;
  --m-1:10px;
  /*PADDING*/
  --p-0:5px;
  --p-1:10px;
}